{{#extend "title"}}DLSU Lab Reservation Portal{{/extend}}

<div class="main-container">
  <p class="title">DLSU Labs</p>
  <h4 class="caption">Reserve Computer Lab Slots Easily!</h4>
  <div class="login-item">
    <form id="loginForm" action="/auth/login" method="POST">
      <div class="input-item">
        <input type="email" placeholder="DLSU Email" name="email" class="form-control" required>
      </div>
      <div class="input-item">
        <input type="password" placeholder="Password" name="password" class="form-control" required>
      </div>
      <div class="selection-box">
        <select name="userType" class="form-control" required>
          <option value="" disabled selected>Select Login Type</option>
          <option value="student">Student</option>
          <option value="technician">Technician</option>
        </select>
      </div>
      <div class="checkbox-item">
        <input type="checkbox" class="checkbox-input" name="rememberMe"> Remember me
      </div>
      <button type="submit" class="submit">Login</button>
    </form>
  </div>
  <div class="register-item">
    <i>No account? </i><a href="/auth/register" class="reglog-btn">Register</a>
  </div>
</div>