<nav>
  <div class="brand-container">
    <a href="/" class="home-button">
      <img src="/assets/logo.png" width="35px">
    </a>
    <h5 class="brand-title">DLSU Lab Reservation Portal</h5>
  </div>

  <div class="link-container">
    {{#if user}}
      {{#eq user.type 'student'}}
        <a class="btn-search" href="/reservation/search">Search</a>
        <a class="btn-link" href="/profile/{{user._id}}">My Profile</a>
      {{else}}
        <a class="btn-link" href="/profile/{{user._id}}/edit">My Profile</a>
      {{/eq}}
      
      <div class="nav-ellipsis-menu">
        <div class="dots">⋮</div>
        <div class="dropdown-menu">
          <a href="/logout">Logout</a>
        </div>
      </div>
    {{else}}
      <a class="link" href="#">About</a>
      <a class="link" href="/auth/register">Register</a>
      <a class="btn-link" href="/auth/login">Login</a>
    {{/if}}
  </div>
</nav>